<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">AuthTutorial</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link me-3" routerLink="home" routerLinkActive="current"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" routerLink="login" routerLinkActive="current"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLink="signup"
            routerLinkActive="current"
            >Signup</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
