<div class="row">
  <div class="col-sm-12">
    <div class="form-group mt-2">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="enteredTitle" />
    </div>
    <div class="form-group mt-2">
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="enteredDescription"
      />
    </div>
    <div class="form-group mt-2">
      <label>Author</label>
      <input type="text" class="form-control" [(ngModel)]="enteredAuthor" />
    </div>
    <button class="btn btn-primary mt-2" (click)="handleSubmit()">
      Add Post
    </button>
  </div>
</div>
