<div class="row">
  <div class="col-sm-12">
    <div class="card mt-5">
      <div class="card-body">
        <h5>User Id : {{ user.id }}</h5>
        <h5>User Name : {{ user.name }}</h5>
        <h5>User Age : {{ user.age }}</h5>
        <button class="btn btn-primary mt-2" (click)="handleClick()">
          Load User 3
        </button>
        <!-- <button class="btn btn-warning mt-2 ms-2" routerLink="edit">
          Edit User
        </button> -->
        <button
          class="btn btn-warning mt-2 ms-2"
          (click)="handleEditNavigation()"
        >
          Edit User
        </button>
      </div>
    </div>
  </div>
</div>
