<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">My Shopping Cart</h3>
        <hr />
        <app-shopping-cart-item
          *ngFor="let item of myCartItems"
          [item]="item"
        ></app-shopping-cart-item>
        <app-cart-total *ngIf="myCartItems.length > 0"></app-cart-total>
        <h5 class="text-center text-secondary" *ngIf="myCartItems.length === 0">
          No items in your cart !!!
        </h5>
      </div>
    </div>
  </div>
</div>
