<div class="card border-0 p-4" style="height: '85vh'">
  <div class="card-body">
    <div
      class="d-flex align-items-center mt-4 cursor"
      routerLink="dashboard"
      routerLinkActive="active"
    >
      <i class="fa-solid fa-chart-line mb-2 me-3"></i>
      <h5>Dashboard</h5>
    </div>
    <hr />
    <div
      class="d-flex align-items-center mt-4 cursor"
      routerLink="users"
      routerLinkActive="active"
    >
      <i class="fa-solid fa-users mb-2 me-3"></i>
      <h5>Users</h5>
    </div>
    <hr />
    <div
      class="d-flex align-items-center mt-4 cursor"
      routerLink="products"
      routerLinkActive="active"
    >
      <i class="fa-solid fa-laptop mb-2 me-3"></i>
      <h5>Products</h5>
    </div>
    <hr />
    <div
      class="d-flex align-items-center mt-4 cursor"
      routerLink="categories"
      routerLinkActive="active"
    >
      <i class="fa-solid fa-list mb-2 me-3"></i>
      <h5>Categories</h5>
    </div>
    <hr />
    <div
      class="d-flex align-items-center mt-4 cursor"
      routerLinkActive="active"
    >
      <i class="fa-solid fa-sack-dollar mb-2 me-3"></i>
      <h5>Orders</h5>
    </div>
    <hr />
    <div
      class="d-flex align-items-center mt-4 cursor"
      routerLinkActive="active"
    >
      <i class="fa-solid fa-cart-shopping mb-2 me-3"></i>
      <h5>Cart</h5>
    </div>
    <hr />
  </div>
</div>
