<div class="card p-2 shadow-sm my-2 border-0">
  <img
    src="{{ product.image }}"
    class="card-img-top img-fluid ms-auto me-auto my-2"
    alt="{{ product.title }}"
    [routerLink]="['/products', product._id]"
  />
  <div class="card-body py-2">
    <h5 class="card-title" [routerLink]="['/products', product._id]">
      {{ product.title | slice : 0 : 15 }}
    </h5>
    <p>${{ product.price }}</p>
    <p>
      {{ product.rating.rate }} ratings from {{ product.rating.count }} reviews.
    </p>
    <button
      class="btn btn-warning btn-sm"
      (click)="onAddToCart()"
      *ngIf="!inCart"
    >
      Add to Cart
    </button>
    <button class="btn btn-success btn-sm" routerLink="/cart" *ngIf="inCart">
      Go to Cart
    </button>
  </div>
</div>
