<div class="row">
  <div class="col-sm-12 col-md-6 mt-2">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let user of users"
        style="cursor: pointer"
        [routerLink]="['/users-list', user.id]"
      >
        User Id : {{ user.id }}
      </li>
      <!-- <li
        class="list-group-item"
        *ngFor="let user of users"
        style="cursor: pointer"
        (click)="handleClick(user.id)"
      >
        User Id : {{ user.id }}
      </li> -->
    </ul>
  </div>
  <div class="col-md-6 mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
