<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-0 mt-3">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>OrderID</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Order Status</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order._id }}</td>
                <td>{{ order.username }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.status }}</td>
                <td>₹ {{ order.amount }}</td>
                <td>{{ order.createdAt | date : "short" }}</td>
                <td class="text-center" style="cursor: pointer">
                  <i
                    class="fa-solid fa-trash text-danger"
                    (click)="onRemoveOrder(order._id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
