<div class="row">
  <div class="col-sm-12 mt-2">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Edit User</h3>
        <form #myForm="ngForm" (ngSubmit)="handleSubmit()">
          <div class="form-group mb-2">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              [ngModel]="loadedUsername"
              name="username"
              minlength="6"
              required
              #username="ngModel"
            />
          </div>
          <p class="error" *ngIf="username.touched && username.errors">
            <span *ngIf="username.errors.minlength"
              >Username should be minimum 6 characters</span
            >
            <span *ngIf="username.errors.required">Username is required</span>
          </p>
          <div class="form-group mb-2">
            <label for="age">Age</label>
            <input
              type="number"
              class="form-control"
              id="age"
              [ngModel]="loadedAge"
              name="age"
              required
              min="1"
              max="100"
              #age="ngModel"
            />
          </div>
          <p class="error" *ngIf="age.touched && age.errors">
            <span *ngIf="age.errors.min">Age must be greater than 0</span>
            <span *ngIf="age.errors.max"
              >Age must be less than or equal to 100</span
            >
            <span *ngIf="age.errors.required">Age is required</span>
          </p>
          <button
            class="btn btn-success mt-2"
            type="submit"
            [disabled]="myForm.invalid"
          >
            Edit User
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
