<div class="row">
  <div class="col-sm-12 mt-5">
    <div class="row" *ngIf="product">
      <div class="col-sm-12 col-lg-6 col-xl-5">
        <img src="{{ product.image }}" class="img-fluid" alt="" />
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-5 mt-2">
        <h4 class="mb-3">{{ product.title }}</h4>
        <p class="mb-3">({{ product.category.toUpperCase() }})</p>
        <p class="mb-3">{{ product.description }}</p>
        <h2 class="mb-3">$ {{ product.price }}</h2>
        <p>
          {{ product.rating.rate }} ratings from
          {{ product.rating.count }} reviews
        </p>
        <button class="btn btn-dark mt-2">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>
