<div class="card border-0 shadow-sm p-4">
  <div class="card-body">
    <h3>
      <i class="fa-solid fa-cart-shopping me-2"></i>Cart Summary (<a
        routerLink="/cart"
        >EDIT</a
      >)
    </h3>
    <hr />
    <div *ngFor="let item of cartItems">
      <div>
        <div class="row">
          <div class="col-lg-2 text-center img-container">
            <img src="{{ item.image }}" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-10">
            <h6>{{ item.quantity }} X {{ item.title }}</h6>
            <h4>${{ item.price }}</h4>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="subtotal">
      <h4>SUBTOTAL: ${{ getTotalPrice() }}</h4>
    </div>
  </div>
</div>
