img {
  width: 100px;
  height: 110px;
}

.removeCartIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  zoom: 1.3;
  transition: all 0.2s ease-in;
  cursor: pointer;
  opacity: 0.5;
  color: tomato;
}

.removeCartIcon:hover {
  transform: scale(1.2);
  opacity: 1;
}
