<div class="card mb-3 p-2 border-0">
  <div class="row g-0">
    <div class="col-md-2 text-center p-2">
      <img
        src="{{ item.image }}"
        class="img-fluid rounded-start"
        alt="{{ item.title }}"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <h5 class="card-text">${{ item.price }}</h5>
        <p class="card-text mt-2">
          <button class="btn btn-dark btn-sm" (click)="onIncrement()">
            <i class="fa-solid fa-plus"></i>
          </button>
          <span class="mx-3">{{ item.quantity }}</span>
          <button class="btn btn-dark btn-sm" (click)="onDecrement()">
            <i class="fa-solid fa-minus"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
